<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Movies Website </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<style>
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
    font-family: 'Sofia';font-size: 80px; color: balck;
}

h2{
    font-family: 'Sofia';font-size: 50px; color: #8B0000;
}
</style>

<body>
<br>
  <div class = "container">
            <nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMoVaKIHhitKO1XZjMjzLepRm7-KZRgbWsb6KAqreNwv0WC69PC9hux_2BE_vlOu1tSN4&usqp=CAU" alt=""  width="1270" height="300">
          <div class="centered"> <h1> <b> Movies Recommendation System </b> </h1> </div>

    </a>

  </div>
</nav>
      <br><br>
      <h2 align="center"> <b> Similar Movies to Frozen  </b></h2>

      <div class="row row-cols-1 row-cols-md-5 g-4">

          <div class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTgyOTUzNDA1N15BMl5BanBnXkFtZTYwNjgwMDM3._V1_SX300.jpg" class="card-img-top" alt="...">
              <div align="center"> <b> Spirit: Stallion of the Cimarron </b></div>
          </div>

          <div class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BY2Q2NDI1MjUtM2Q5ZS00MTFlLWJiYWEtNTZmNjQ3OGJkZDgxXkEyXkFqcGdeQXVyNTI4MjkwNjA@._V1_SX300.jpg" class="card-img-top" alt="...">
              <div align="center"> <b> Aladdin </b></div>
          </div>


          <div class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTkzOTgzNDYzOF5BMl5BanBnXkFtZTgwOTgxMTkyMjE@._V1_SX300.jpg" class="card-img-top" alt="...">
              <div align="center"> <b> The Book of Life </b></div>


          </div>

          <div class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BODIxNzYxNDEzNl5BMl5BanBnXkFtZTgwMjA1NTM2MTI@._V1_SX300.jpg" class="card-img-top" alt="...">
              <div align="center"> <b> Curious George </b></div>
          </div>

          <div class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTczNTY2NzczOF5BMl5BanBnXkFtZTcwNjI3NTkwMg@@._V1_SX300.jpg" class="card-img-top" alt="...">
              <div align="center"> <b> Delgo </b></div>
          </div>
      </div>
  </div>

</body>
</html>